:root{
	--blue-color:#08A6E4;
	--red-color: #FB3B64;
	--green-color: #55DFB4;
	--text-color: #000000;
	--sub-text-color: #707070;
	--border-color: #95989A;
	--mini-text: #A5A5A5;
	--section-color: #F7F7F7;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	height: 70px;
	box-shadow: 0 2px 3px #F7F7F7;
}
header>a{
	display: block;
	text-decoration: none;
	font-size: 32px;
	padding: 21px 0 17px 136px;
	color: var(--blue-color);
	font-family: "Raleway";
	font-weight: lighter;
}
nav a{
	display: inline-block;
	list-style: none;
	text-decoration: none;
	padding: 27px 95px;
}
header a:focus{
	outline: none;
}
nav a:nth-of-type(2){
	padding: 27px 0;
}
nav a:last-of-type{
	padding-left: 0; 
}
nav li{
	font-size: 11px;
	color: var(--mini-text);
	font-family: "Open Sans";
	font-weight: bold;
	padding: 0 7px 29px 7px;
	}
nav li:hover,
nav li:focus{
	border-bottom: 4px solid var(--blue-color);
	color: var(--text-color);
}
.fa-bars,
.fa-times{
	content: "\f0c9";
	font-family: "Font Awesome 5 Free";
	font-size: 20px;
	font-weight: 900;
	color: var(--blue-color);
	display: block;
	margin-top: 35px;
	margin-right: 50px;
	visibility: hidden;
}
.fa-times{
	visibility: hidden;
}
.section_second{
	margin-top: 68px;
	height: calc(100vh - 138px);
	width: 100%;
	background-image: url("../assets/background.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	display: block;
}
.section_second h1{
	font-size: 49px;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-family: "Open Sans";
	font-weight: normal;
}
.section_second p{
	font-size: 16px;
	font-family: "Open Sans";
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20px;
	padding-bottom: 38px;
}
.section_second a{
	list-style: none;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: white;
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 700;
}
.section_second div{
	width: 440px;
	height: 67px;
	background-color: var(--blue-color);
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.161);
}
.section_third{
	padding-top: 106px;
	display: block;
	box-shadow: 0px -5px 80px rgba(0, 0, 0, 0.161);
	height: calc(531px - 106px);
	width: 100%;
}
.section_third h2{
	font-size: 36px;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-family: "Raleway";
	font-weight: 700;
}
.icons{
	display: flex;
	width: 800px;
	justify-content: space-between;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
.info img{
	margin-bottom: 30px;
	/* padding-left: 40px; */
	padding-right: 0px;
	z-index: 1;
}
.info_first img{
	position: relative;
	top: -15px;
	left: -30px;
}
.info_first .circle{
	display: inline-block;
	content: "";
	width: 63px;
	height: 63px;
	border-radius: 50%;
	background-color: var(--red-color);
	z-index: 0;
	margin-left: 50px;
}
.info_second img{
	position: relative;
	top: -12px;
	left: -50px;
}
.info_second .circle{
	display: inline-block;
	content: "";
	width: 63px;
	height: 63px;
	border-radius: 50%;
	background-color: var(--blue-color);
	z-index: 0;
	margin-left: 70px;
}
.info_third img{
	position: relative;
	top: -15px;
	left: -30px;
}
.info_third .circle{
	display: inline-block;
	content: "";
	width: 63px;
	height: 63px;
	border-radius: 50%;
	background-color: var(--green-color);
	z-index: 0;
	margin-left: 50px;
}
.info p:first-of-type{
	letter-spacing: 5.96px;
	margin-bottom: 20px;
	text-align: center;
}
.info p:last-of-type{
	text-align: center;
	color: var(--mini-text);
}
.info_second p:first-of-type{
	padding-top: 5px;
}
.section_fourth{
	height: calc(920px + 251px + 105px);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--section-color);
	padding-top: 105px;
	padding-bottom: 105px;
	justify-content: center;
}
.elements{
	height: 370px;
	width: 1124px;
	background-color: white;
	margin-bottom: 37px;
	display: flex; 
	border-radius: 5px;
}
.part_first{
	height: 100%;
	width: 50%;
}
.part_second{
	height: 100%;
	width: 50%;
}
.elements h3{
	font-size: 36px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
}
.elements p{
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}
.element_first p::after{
	display: block;
	content: "";
	height: 0px;
	width: 328px;
	border: 2px solid var(--red-color);
	z-index: 2;
	margin-top: 50px;
}
.element_first h3{
	margin-top: 97px;
	margin-left: 36px;
}
.element_first p{
	margin-top: 30px;
	margin-left: 36px;
	width: 80%;
}
.element_first img{
	display: block;
	width: 386px;
	height: 219px;
	position: relative;
	top: 113px;
	left: 50px;
	z-index: 1;
}
.squareish{
	background-color: var(--red-color);
	width: 195px;
	height: 195px;
	border-radius: 41px;
	transform: rotate(45deg);	
	position: relative;
	top: -158px;
	left: 250px;
	z-index: 0;
	display: block;
}
.element_second .circle{
	width: 320px;
	height: 320px;
	background-color: var(--blue-color);
	border-radius: 50%;
	z-index: 0;
	margin-top: 12px;
	margin-left: 70px;
}
.element_second img{
	display: block;
	width: 426px;
	height: 328px;
	position: relative;
	top: -300px;
	left: 75px;
	z-index: 1;
}
.element_second h3{
	margin-top: 97px;
	margin-left: 126px;
}
.element_second p{
	margin-top: 30px;
	margin-left: 126px;
	width: 70%;
}
.element_second p::after{
	display: block;
	content: "";
	height: 0px;
	width: 328px;
	border: 2px solid var(--blue-color);
	z-index: 2;
	margin-top: 50px;
}
.element_third{
	width: 623px;
}
.element_third h3{
	margin-top: 75px;
	margin-left: 36px;
}
.element_third p{
	margin-top: 30px;
	margin-left: 36px;
	width: 80%;
	position: relative;
	top: 190px;
	left: -255px;
}
.element_third p::after{
	display: block;
	content: "";
	height: 0px;
	width: 328px;
	border: 2px solid var(--green-color);
	z-index: 2;
	margin-top: 50px;
}
.element_fourth{
	width: 440px;
	margin-left: 61px;
	background-color: var(--green-color);
	justify-content: center;
	align-items: center;
}
.element_fourth img{
	margin-top: 50px;
	width: 296px;
	height: 208px;
}
.section_fifth{
	height: 610px;
	width: 1266px;
	display: block;
	margin: 106px auto 0 auto;
}
.section_fifth h3{
	font-size: 36px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	display: block;
	width: 100px;
	margin: 0 auto 50px auto;
}
.wrapper_pricing{
	width: 1266px;
	display: flex;
	margin: 0 auto;
}
.payment_options{
	position: relative;
	cursor: pointer;
}
.payment_options h4{
	display: block;
	margin: 38px auto 14px auto;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.payment_options h6{
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	width: 73px;
	margin: 7px auto 61px auto;
}
.basic,
.professional,
.premium{
	width: 372px;
	height: 461px;
	border-radius: 18px;
	margin: 0 auto;
}
.basic:hover,
.professional:hover,
.premium:hover{
	width: 405px;
	height: 500px;
}
.basic{
	border: 1px solid var(--red-color);
}
.basic:hover{
	box-shadow: 5px 10px 27px #FB3B6429;
}
.professional{
	border: 1px solid var(--blue-color);
}
.professional:hover{
	box-shadow: 5px 10px 27px #07ACE629;
}
.premium{
	border: 1px solid var(--green-color);
}
.premium:hover{
	box-shadow: 5px 10px 27px #55DFB429;
}
.basic,
.professional{
	margin-right: 59px;
}
.basic h4{
	width: 53px;
}
.basic p{
	color: var(--red-color);
	font-family: "Open Sans", sans-serif;
	font-size: 46px;
	font-weight: lighter;
	margin: 0 auto 76px auto;
	width: 59px;
}
.professional h4{
	width: 126px;
}
.professional p{
	color: var(--blue-color);
	font-family: "Open Sans", sans-serif;
	font-size: 46px;
	font-weight: lighter;
	margin: 0 auto;
	width: 93px;
}
.premium h4{
	width: 86px;
}
.premium p{
	color: var(--green-color);
	font-family: "Open Sans", sans-serif;
	font-size: 46px;
	font-weight: lighter;
	margin: 0 auto;
	width: 85px;
}
.payment_options li:first-of-type,
.payment_options li:nth-of-type(2){
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	width: 105px;
	margin: 0 auto 22px auto;
}
.payment_options li:nth-of-type(3){
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	width: 86px;
	margin: 0 auto 22px auto;
}
.payment_options li:nth-of-type(4){
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	width: 134px;
	margin: 0 auto 22px auto;
}
.payment_options li:nth-of-type(5){
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	width: 98px;
	margin: 0 auto 55px auto;
}
.payment_options li:nth-of-type(1)::before,
.payment_options li:nth-of-type(2)::before,
.payment_options li:nth-of-type(3)::before,
.payment_options:nth-of-type(2) li:nth-of-type(4)::before,
.payment_options:nth-of-type(3) li:nth-of-type(4)::before,
.payment_options:nth-of-type(3) li:nth-of-type(5)::before{
	content: url(../assets/Ckechmark-1.svg);
	margin-right: 5px;
}
.payment_options:first-of-type li:nth-of-type(4)::before,
.payment_options:first-of-type li:nth-of-type(5)::before,
.payment_options:nth-of-type(2) li:nth-of-type(5)::before{
	content: url(../assets/Close.svg);
	margin-right: 5px;
}

.btn1,
.btn2,
.btn3{
	text-decoration: none;
	width: 150px;
	height: 50px;
	border-radius: 23px;
	border: none;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
	top: 27px;
}
.btn1{
	background-color: var(--red-color);
}
.btn2{
	background-color: var(--blue-color);
}
.btn3{
	background-color: var(--green-color);
}
.section_fifth_added{
	margin-top: 80px;
	height: 538px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper_calculator_area{
	height: 80%;
	width: calc(440px * 2 + 47px);
	display: grid;
	grid-template-areas: "header3 header3"
						 "part1 part2";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 1fr;
	column-gap: 47px;
}
.wrapper_calculator_area h3{
	grid-area: header3;
	width: 520px;
	height: 43px;
	font-size: 36px;
	font-family: "Open Sans", sans-serif;
	color: var(--text-color);
	margin: auto;
	font-weight: 400;
	margin-bottom: 52px;
}
.wrapper_calculator_area .part_first{
	grid-area: part1;
	width: 50%;
	height: calc(100% - 53px - 36px - 93px);
}
.input_calc{
	width: 420px;
	height: 40px;
	border: 1px solid var(--blue-color);
	border-radius: 6px;
	box-shadow: 0px 3px 6px #08A6E429;
	padding-left: 20px;
	margin-bottom: 20px;
}
.input_calc2{
	width: 100%;
	height: 17px;
	border: 1px solid var(--blue-color);
	border-radius: 6px;
	box-shadow: 0px 3px 6px #08A6E429;
	padding-left: 20px;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-bottom: 10px;
}
.third_input{
	margin-bottom: 0;
}
.third_input:not(:hover){
	color: var(--border-color);
	font-family: "Open Sans", sans-serif;
}
.third_input:hover{
	color: var(--border-color);
	font-family: "Open Sans", sans-serif;
}
option:nth-of-type(2),
option:nth-of-type(3),
option:nth-of-type(4){
	color: var(--text-color);
	font-family: "Open Sans", sans-serif
}
select{
	appearance: none; 
	-webkit-appearance: none;   
	-moz-appearance: none;  
	-o-appearance: none;  
	-ms-appearance: none;
	position: relative;
	border: none;
	outline: none;
}
.select{
	width: 100%;
	position: relative;
	z-index: 100;
}
.show_here{
	padding: 12px 20px;
	height: 16px;
	width: 400px;
}
.arrow{
	content: "";
	position: absolute;
	display: block;
	left: 410px;
	top: 10px;
	background-image: url(../assets/ArrowDown.svg);	
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;
	width: 22px;
	height: 22px;
	pointer-events: none;
}
.select::before{
	content: "";
	position: absolute;
	display: block;
	left: 410px;
	top: 10px;
	background-image: url(../assets/ArrowDown.svg);	
	transform: rotate(180deg);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;
	width: 22px;
	height: 22px;
	pointer-events: none;
	display: none;
}
.select2{
	/* display: none; */
	margin-top: 10px;
	width: 440px;
	height: 105px;
	border-radius: 6px;
	border: 1px solid #EB476E;
	box-shadow: 0px 3px 6px #EB476E29;
	background-color: #fff;
	opacity: 1;
	z-index: 100;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	position: relative;
	/* top: 40px; */
}
a{
	text-decoration-line: none;
	text-decoration: none;
}
.opt{
	color: #000;
	width: 421px;
	padding-top: 12px;
	padding-left: 20px;
	height: calc((105px / 3) - 12px);
	cursor: pointer;
}
.opt3{
	height: calc((105px / 3)- 2px);
}
.opt1:hover{
	background-color: rgba(235, 71, 109, 0.479);
	border-radius: 6px 6px 0 0;
}
.opt2:hover{
	background-color: rgba(235, 71, 109, 0.479);
}
.opt3:hover{
	background-color: rgba(235, 71, 109, 0.479);
	border-radius: 0 0  6px 6px;
}
.input_calc::placeholder{
	color: var(--border-color);
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
}
.third_input{
	width: 442px;
	height: 40px;
}
.calc_check{
	z-index: -1;
}
.checkbox_label{
	grid-area: lcheck;
	color: var(--border-color);
	letter-spacing: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	text-align: justify;
	margin: 0 auto;
	position: relative;
	top: -20px;
	right: -10px;
	margin-left: 25px;
}
.wrapper_calculator_area .part_second{
	grid-area: part2;
	width: 50%;	
	height: calc(100% - 53px - 36px - 93px);
	position: relative;
}
.calc_rows{
	width: 385px;
	height: 15px;
	background-color: var(--green-color);
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 6px;
	margin-bottom: 8px;
	color: var(--section-color);
}
.products,
.orders,
.package{
	padding: 8px 20px;
	display: flex;
	justify-content: space-between;
}

.number_of_products,
.sum_of_product_price,
.number_of_orders,
.sum_of_order_price,
.sum_of_package_price{
	width: 80px;
	margin: 0 10px;
	overflow: hidden;
}
.price_of_product{
	position: relative;
	left: -30px;
}
.price_of_order{
	position: relative;
	left: -7px;
}
.package p{
	margin-right: 80px;
}
.accounting, 
.terminal{
	width: 325px;
	padding: 8px 80px 8px 20px;
	display: flex;
	justify-content: space-between;
}
.total{
	width: 179px;
	display: flex;
	justify-content: space-between;
	padding: 9px 15px;
	background-color: var(--blue-color);
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 6px;
	color: var(--section-color);
	position: absolute;
	right: -205px;
}




.section_sixth{
	height: 590px;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper_contact{
	width: 896px;
	height: 372px;
	display: flex;
}
.wrapper_contact .part_first{
	display: inline;
}
.wrapper_contact .part_first h2{
	font-family: "Raleway", sans-serif;
	font-size: 49px;
	margin-bottom: 22px;
}
.wrapper_contact .part_first h5{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	margin-bottom: 42px;
}
.wrapper_contact .part_first p{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: var(--mini-text);
	position: relative;
}
.wrapper_contact .part_first p::before{
	content: url(../assets/Mail\ Icon.svg);
	position: relative;
	top: 8px;
}
.wrapper_contact .part_first span::before{
	content: url(../assets/Phone\ Icon.svg);
	position: relative;
	top: 8px;
	margin-left: 8px;
}
.wrapper_contact .part_second{
	display: grid;
	grid-template-areas: "lname"
	"iname"
	"lemail"
	"iemail"
	"icheck lcheck"
	". btn";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.wrapper_contact .part_second label{
	color: var(--blue-color);
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 3.28px;
	font-family: "Open Sans", sans-serif;
}
.wrapper_contact .part_second .iname,
.wrapper_contact .part_second .iemail{
	height: 41px;
	width: 390px;
	border: none;
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 28px;
	padding-left: 10px;
}
.wrapper_contact .part_second .iemail{
	margin-bottom: 0;
}
.newCheckBox{
	background-image: url("../assets/Checkmark.svg");
	background-repeat: no-repeat;
	background-position: center;
	
}
.check{
	grid-area: icheck;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	background-color:  white;
	border: 1px solid var(--border-color);
	margin-top: 28px;
	margin-right: 10px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
	appearance:none;
	cursor: pointer;
}
.check:checked{
	background-color: white;
	background-image: url('../assets/Checkmark.svg');
	background-repeat: no-repeat; 
    background-position: 50% 50%;
}
.wrapper_contact .part_second p{
	grid-area: lcheck;
	color: var(--sub-text-color);
	letter-spacing: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	width: 370px;
	text-align: justify;
	line-height: 17px;
	margin: 0 auto;
	position: relative;
	top: -23px;
	right: -10px;
	margin-left: 25px;
}
.wrapper_contact .part_second .submit{
	width: 226px;
	height: 57px;
	border: none;
	background-color: var(--blue-color);
	border-radius: 35px;
	box-shadow: 5px 10px 14px #07ACE629;
	color: white;
	font-size: 13px;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	/* margin-top: 15px; */
	position: relative;
	right: -170px;
}
.wrapper_footer{
	background-color: var(--section-color);
	box-shadow: 0px -5px 40px #00000029;
	height: 89px;
	width: 100%;
	display: flex;
}
.wrapper_footer .first_part{
	width: 50%;
	height: 100%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.main_link{
	color: var(--blue-color);
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 400;
	text-decoration: none;
	margin-bottom: 7px;
	margin-left: 137px;
}
.wrapper_footer .first_part h5{
	color: var(--mini-text);
	font-size: 11px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin-left: 137px;
}
.wrapper_footer .second_part{
	width: 50%;
	height: 100%;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.tw{
	width: 24px;
	height: 24px;
	margin: 0 10px 0 0;
}
.fb{
	width: 24px;
	height: 24px;
	margin: 0 136px 0 10px;
}

@media (max-width: 1625px){
	.container{
		width: 100%;
	}
}
@media (max-width: 1352px){
	.container{
		width: 100vw;
		padding: 0 15px;	
	}
	.section_third{
		padding-top: 50px;
	}
	
}
@media only screen and (max-width: 1137px){
	nav a{
		padding: 27px 65px;
	}
}
@media only screen and (max-width: 1123px){
	.element_third{
		position: relative;
		left: -250px;
	}
	.element_fourth{
		position: relative;
		top: -408px;
		left: 280px;
	}
	.section_fifth{
		width: 930px;
	}
	.wrapper_pricing{
		margin-left: -85px;
	}
	.wrapper_footer{
		width: 100vw;
	}
	
}
@media only screen and (max-width: 1000px){
	body{
		overflow-x: hidden;
	}
	.container{
		width: 100vw;
	}
	/*section first*/
	.section_first{
		width: 375px;	
		height: 89px;
		margin: 0 auto;	
	}
	.bshop{
		font-size: 32px;
		font-weight: lighter;
		position: relative;
		left: -90px;
		top: 5px;
		
	}
	header{
		margin: 0;
		padding: 0;
		box-shadow: none;
		border-bottom: 1px solid rgba(128, 126, 126, 0.219);
	}
	nav{
		visibility: hidden;
		position: relative;
		left: -480px;
		top: 90px;
		width: 375px;	
	}
	nav ul{
		position: relative;
		left: 100px;
		width: 375px;
		height: 100px;
		position: relative;
		left: 200px;
		padding: 0;
		margin: 0;
		background-color: #fff;
		z-index: 2;
	}
	nav a{
		display: flex;
		flex-direction: column;
		list-style: none;
		text-decoration: none;
		padding: 0;
		margin: 0 0 15px 0;
		height: 11px;
		padding: 0;
		width: 50px;
		
	}
	
	nav a:nth-of-type(2){
		padding: 0;
	}
	nav a:last-of-type{
		padding-left: 0; 
	}
	nav li{
		font-size: 11px;
		color: var(--mini-text);
		font-family: "Open Sans";
		font-weight: bold;
		padding: 10px 0 0 0;	
	}
	nav li:hover,
	nav li:focus{
		border-bottom: 4px solid var(--blue-color);
		color: var(--text-color);
	}
	.fa-bars{
		visibility: visible;
		position: relative;
		left: -320px;
		margin-right: 50px;
		cursor: pointer;
	}
	.fa-times{
		visibility: hidden;
		position: relative;
		left: -385px;
		margin-right: 50px;
		cursor: pointer;
	}

	/*section second*/
	.section_second{
		height: 450px;
		margin: 0 auto;
	}
	.section_second h1{
		font-size: 35px;
		position: relative;
		top: 20px;
	}
	.section_second p{
		text-align: center;
		width: 310px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		top: 20px;
}
	.section_second a{
		width: 310px;
		height: 67px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 40px;
	}
	/*section third*/
	.section_third{
		height: 762px;
		display: flex;
		flex-direction: column;
		padding: 40px;
		margin: 0 auto;
		width: 335px;
	}
	.section_third h2{
		width: 303px;
		height: 112px;
		font-size: 30px;
		font-weight: normal;
		margin: 0 auto;	text-align: center;
	}
	.section_third .icons{
		display: flex;
		flex-direction: column;
		margin: 0 auto;	
}
	.section_third .icons p{
		margin-left: -570px;
	}
	.section_third .icons p:first-of-type{
		font-weight: 900;
	}
	.info_first{
		position: relative;
		top: -70px;
		margin-left: 100px;
	}
	.info_first p{
		position: relative;
		left: 20px;
	
	}
	.info_second{
		position: relative;
		top: -30px;
		left: 10px;
		margin-left: 70px;
	}
	.info_second p{
		position: relative;
		left: 20px;
	}
	.info_third{
		position: relative;
		left: 30px;
		margin-left: 70px;
	}
	/*secion fourth*/
	.section_fourth{
		margin-top: 40px;
		padding: 0 20px;
		margin: 40px auto 0 auto;
		width: 375px;
	}
	.elements{
		width: 314px;
		height: 370px;
		margin-bottom: 14px;
		margin: 0 auto;
	}
	.element_first{
		margin: 0 auto;
		position: relative;
	}
	.element_first .part_first h3{
		width: 271px;
		height: 50px;
		font-size: 30px;
		font-weight: 400;
		position: relative;
		top: 80px;
	}
	.element_first .part_first p{
		width: 252px;
		height: 84px;
		font-size: 14px;
		margin-top: 80px;
	}
	.element_first p::after,
	.element_second p::after{
		display: none;
	}
	.element_first .part_second{
		position: absolute;
		width: 215px;
		height: 147px;
	}
	.element_first .part_second img{
		width: 192px;
		height: 109px;
		position: relative;
		top: 30px;
		left: 115px;
	}
	.squareish{
		width: 90px;
		height: 90px;
		position: relative;
		top: -95px;
		left: 215px;
	}
	.element_second .circle{
		width: 131px;
		height: 131px;
	}
	.element_second img{
		width: 160px;
		height: 120px;
		position: relative;
		top: -115px;
		left: 80px;
	}
	.element_second h3{
		width: 250px;height: 70px;
		font-size: 30px;
		font-weight: 400;
		position: relative;
		top: 70px;
		left: -250px;
	}
	.element_second p{
		width: 272px;
		height: 77px;
		font-size: 14px;
		position: relative;
		top: 60px;
		left: -250px;
	}
	.element_third{
		width: 312px;
		height: 298px;
		position: relative;
		left: -1px;
	}
	.element_third h3{
		width: 274px;
		height: 109px;
		font-size: 30px;
		font-weight: 400;
		position: relative;
		top: -40px;
	}
	.element_third p{
		width: 254px;
		height: 114px;
		font-size: 14px;
		position: relative;
		top: 150px;
		left: -190px;
	}
	.element_third p::after{
		visibility: hidden;
	}

	.element_fourth{
		width: 314px;
		height: 195px;
		position: relative;
		left: -1px;
		top: -1px;
	}
	.element_fourth img{
		position: relative;
		left: -20px;
		top: 10px;
	}
	/*section fifth*/
	.section_fifth{
		width: 339px;height: 967px;
		margin: 0 auto;
		margin-top: 80px;
	}
	.section_fifth h3{
		font-size: 36px;
		font-weight: 400;
		position: relative;
		top: -40px;
		left: -20px;
	}
	.wrapper_pricing{
		display: block;
		position: relative;
		left: -810px;
		top: -40px;
	}
	.basic, 
	.professional,
	.premium{
		width: 293px;height: 251px;
		border-radius: 18px;
	}
	.basic{
		top: -20px;
	}
	.professional{
		top: 20px;
	}
	.premium{
		left: 425px;
		top: 70px;
	}
	.payment_options h4{
		font-size: 20px;
		font-weight: bold;
		position: relative;
		left: -80px;
		top: 40px
	}
	.professional h4{
		left: -70px;
	}
	.payment_options p{
		font-size: 46px;
		font-weight: lighter;
		position: relative;
		left: -80px;
		top: 40px;
	}
	.professional p{
		left: -70px;
	}
	.payment_options h6{
		font-weight: bold;
		font-size: 12px;
		position: relative;
		top: 50px;
		left: -80px;
	}
	.professional h6{
		left: -75px;
	}
	.payment_options ul li{
		text-align: left;
		font-size: 14px;
		position: relative;
		top: -150px;
		left: 60px;
	}
	.payment_options li:nth-of-type(3){
		position: relative;
		left: 50px;
	}
	.payment_options li:nth-of-type(4){
		position: relative;
		left: 75px;
	}
	.payment_options li:nth-of-type(5){
		position: relative;
		left: 55px;
	}
	.payment_options a{
		width: 150px;
		height: 50px;
		position: relative;
		top: -180px;
	}
	.payment_options:hover{
		width: 293px;
		height: 251px;
		box-shadow: none;
	}
	/*section fifth added (calculator)*/
	.section_fifth_added{
		display: none;
	}
	/*section sixth*/
	.section_sixth{
		width: 316px;
		height: 651px;
		margin: 0 auto;
	}
	.wrapper_contact{
		width: 375px;
	}
	form{
		width: 350px;
	}
	.section_sixth h2{
		font-size: 40px;
		position: relative;
		top: -180px;
		left: 50px;
	}
	.section_sixth h5{
		font-size: 16px;
		position: relative;
		top: -180px;
		left: 50px;
		width: 375px;
	}
	.section_sixth p{
		font-size: 16px;
		position: relative;
		top: -220px;
		left: 50px;
		width: 300px;
	}
	.section_sixth span{
		width: 316px;
		position: relative;
		top: 35px;
		left: -180px;
	}
	.section_sixth .part_second{
		width: 316px;
		height: 422px;
		position: relative;
		top: 50px;
		left: -140px;
	}
	label {
		font-size: 11px;
		font-weight: 700;
	}
	.section_sixth .part_second p{
		width: 277px;
		height: 156px;
		font-size: 11px;
		position: relative;
		left: 15px;
	}
	.submit{
		width: 226px;
		height: 57px;
		position: relative;
		left: 90px;
	}
	/*footer*/
	.wrapper_footer{
		height: 89px;
		width: 375px;
		position: relative;
		/* left: 270px; */
		margin: 0 auto;
	}
	.wrapper_footer .first_part a{
		font-size: 26px;
		font-weight: lighter;
		position: relative;
		top: -5px;
		left: -120px;
	}
	.wrapper_footer .first_part h5{
		width: 100px;
		height: 15px;
		font-size: 11px;
		position: relative;
		top: -5px;
		left: -120px;
	}
	.wrapper_footer .second_part{
		position: relative;
		left: 90px;
	}
	
}
